# {{ project_name }}

{% if project_description %}{{ project_description }}{% endif %}

## Installation

```bash
uv add {{ project_name }}
```

## Usage

```python
import {{ project_slug }}
```

## Development

This project uses [uv](https://docs.astral.sh/uv/), [just](https://just.systems/) and [prek](https://github.com/j178/prek).

See [justfile](justfile) for pre-built commands used along pre-commit hooks and CI.
